body {
    background: #676E81;
    color: #BEC5AD;
}

.congratulations {
    height: 250px;
}

.fade-text-trigger {
    transition: color .5s;
    color: #151515;
}

.server-message {
    background: #A63D40;
}
